/* styles.css */

*{
  font-family: 'Poppins', sans-serif;
}

.profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}


.review-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.review-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.review-count{
  font-size: 18px;
}

.photos {
  display: flex;
  gap: 10px;
}

.photos img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.d-none {
  display: none !important;
}

.review-circle {
  font-size: 24px;
  color: #E97911; /* デフォルトの色 */
}

.website-link {
  display: block; /* ブロック要素にする */
  word-wrap: break-word; /* 単語の途中でも折り返し */
  overflow-wrap: break-word; /* 途中で折り返す */
  white-space: normal; /* 通常の改行を許可 */
  max-width: 100%; /* 親要素に収まるようにする */
}

.main-image {
  width: 100%;
  height: 500px; /* メイン画像の高さを固定 */
  object-fit: cover;
  aspect-ratio: 16/9; /* 縦横比を統一 */
  background:  #eedcb3
}

.sub-image {
  width: 100%;
  height: 250px; /* 2つのサブ画像の高さを均等にする */
  object-fit: contain; /* 画像がはみ出さないように調整 */
  border-radius: 8px;
  background:  #eedcb3
}

.review_this_restaurant{
  background-color: #e97911;
  color:  white;
}

.review_this_restaurant:hover{
  background-color: white;
  color: #e97911; 
  border: 2px solid #e97911;
}

.review_this_restaurant:active{
  background-color: white !important;
  color: #e97911 !important; 
  border: 2px solid #e97911 !important; 
}

.read-more, .read-less{
  display: block;
  cursor: pointer;
  color: #E97911;
  font-size: 0.8rem;
}
